//@import "superhero/variables";
@import "bootstrap/bootstrap";
//@import "superhero/bootswatch";


$brand-primary:             $blue;
$brand-secondary:           #636c72;
$brand-success:             $green;
$brand-info:                $teal;
$brand-warning:             $orange;
$brand-danger:              $red;
$brand-inverse:             $gray-dark;

$btn-secondary-border: $brand-secondary;
$btn-secondary-color: $brand-secondary;

$body-bg:       $gray-dark;
$body-color:    $gray-dark;
$inverse-bg:    $gray-dark;
$inverse-color: $gray-lighter;

$link-color:            $brand-primary;
$link-decoration:       none;
$link-hover-color:      darken($link-color, 15%);
$link-hover-decoration: underline;

body {
  min-height: 75rem; /* Can be removed; just added for demo purposes */
}

.navbar {
  margin-bottom: 0;
}

.jumbotron {
  padding-top: 2.5rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: $body-bg;
}

.card {
  float: left;
  // width: 25%;
  width: 33.333%;
  height: 480px;
  padding: .5rem;
  margin-bottom: .5rem;
  border: 0;
  background: none;
}

.card-img-crop {
  position: relative;
  margin: 0;
}

.card-img-crop img {
  width: 100%;
}

// .card > img {
//   margin-bottom: .75rem;
// }

.card-text {
  font-size: 100%;
}

.card-text > .artist,
.card-text > .track {
  display: block;
}

.card-text > .artist {
  
}

.card-text > .track {
  font-weight: 600;
}

.card-block {
  background: #fff;
  max-height: 131px;
  overflow: hidden;
}

.card.type-list {
  width: 100%;
  height: auto;
  padding: 0;
  margin-bottom: 1rem;
  border-top-right-radius: calc(.25rem - 1px);
  border-top-left-radius: calc(.25rem - 1px);
  overflow: hidden;
}

.card.type-list .card-img-crop {
  width: 33%;
  /* float: left; */
  margin-right: 5%;
  /* margin: -1.25rem 5% -1.25rem -1.25rem; */
  position: absolute;
  top: 0;
  left: 0;  
}

.card.type-list .card-block {
  padding-left: 40%;
  position: relative;
}

.account-container > h3 {
  color:white;
}

.btn-outline-secondary {
  color: $btn-secondary-color;
  border-color: $btn-secondary-border;
}

.btn-outline-secondary:hover {
  background-color: $btn-secondary-color;
  border-color: $btn-secondary-border;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}